
   * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", monospace;
  }
  body {
    height: 100vh;
    background: #373d58;
  }
  .calculator {
    width: 450px;
    background-color: #8A8DBA;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  }
  .display {
    width: 100%;
  }
  .display input {
    width: 100%;
    padding: 10px 15px;
    text-align: right;
    border: none;
    background-color: #f1eded;
    opacity: 0.7;
    color: #454555;
    font-size: 35px;
  }
  .display input::placeholder {
    color: #454555;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
  }
  .buttons input[type="button"] {
    font-size: 20px;
    padding: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    color:#000;
  }
  .buttons input[type="button"]:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    background-color: #000;
    color:#fff;
    transition: all 0.3s;
    transform:skewX(6deg);
    transform:skewY(4deg);
  }
  input[type="button"]#equal {
    grid-row: span 1;
    background-color: #eaebee;
    color:#000;
}

input[type="button"]#equal:hover {
  grid-row: span 1;
  background-color: #000;
  color:#ffff;
}

input[type="button"]#clear {
    background-color: #bf3d36;
  }
  input[type="button"][value="0"] {
    grid-column: span 1;
  }
  input[type="button"][value="DEL"] {
    grid-column: span 1;
    background-color: #59595e;

  }

  